.titulo {
    color: #FFFFFF;
    width: 548px;
    padding: 1%;
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 350;
    font-size: 36px;
    line-height: 44px;
    text-align: center;

}

.active-link {
    text-decoration: underline #F8D456;
}

header {
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    align-items: center;
    height: fit-content;
}

a {
    text-decoration: none;
}