<section class="container">

    <div class="artigos">
        <h1 class="titulo">
            O que é Mudança Climática?
        </h1>

        <p>
            Mudança climática refere-se a mudanças de longo prazo nas temperaturas e nos padrões climáticos. Essas
            mudanças
            podem ser naturais, devido a alterações na atividade solar ou grandes erupções vulcânicas. Porém, desde os
            anos
            1800, as atividades humanas têm sido o principal motor das mudanças climáticas, principalmente devido à
            queima
            de
            combustíveis fósseis como carvão, petróleo e gás. Queimar combustíveis fósseis gera emissões de gases de
            efeito
            estufa que agem como um cobertor ao redor da Terra, retendo o calor do sol e aumentando as temperaturas. Os
            principais gases de efeito estufa que estão causando as mudanças climáticas incluem o dióxido de carbono e o
            metano.
            Esses gases são liberados, por exemplo, ao usar gasolina para dirigir um carro ou carvão para aquecer um
            prédio.
            O
            desmatamento e a destruição de florestas também podem liberar dióxido de carbono. A agricultura e as
            operações
            de
            petróleo e gás são grandes fontes de emissões de metano. Energia, indústria, transporte, edifícios,
            agricultura
            e
            uso da terra estão entre os principais setores que causam emissões de gases de efeito estufa.
        </p>

        <h1 class="titulo">
            Qual o impacto dos carros?
        </h1>
        <img src="../../assets/IMG/car.jpg" alt="Carro">
        <p>
            Os carros desempenham um papel significativo nas mudanças climáticas devido às emissões de gases de efeito
            estufa, principalmente o dióxido de carbono (CO2), liberados durante a queima de combustíveis fósseis, como
            gasolina e diesel. Esses gases contribuem para o aquecimento global ao acumular calor na atmosfera,
            resultando em um aumento da temperatura média do planeta.
            A frota global de veículos automotivos é uma das principais fontes de emissões de CO2, responsável por cerca
            de um quarto das emissões globais de gases de efeito estufa no setor de transporte. Além do CO2, os carros
            também emitem outros poluentes nocivos, como óxidos de nitrogênio (NOx) e partículas finas, que contribuem
            para a poluição do ar e têm impactos adversos na saúde humana.
            O aumento da temperatura global, impulsionado pelo uso excessivo de veículos movidos a combustíveis fósseis,
            tem várias consequências, como o derretimento das calotas polares, a elevação do nível do mar, eventos
            climáticos extremos, como furacões e secas, e a perda de biodiversidade. Esses efeitos não só impactam o
            meio ambiente, mas também afetam a economia e a qualidade de vida das pessoas.
            Para mitigar o impacto dos carros nas mudanças climáticas, é essencial promover o uso de veículos elétricos
            e híbridos, que têm emissões significativamente menores ou nulas, além de investir em transporte público
            eficiente e acessível. A adoção de práticas de condução mais ecológicas, como a redução da velocidade, a
            manutenção regular dos veículos e a carona solidária, também pode contribuir para a redução das emissões de
            CO2.
            Finalmente, políticas governamentais que incentivem a transição para uma economia de baixo carbono, como
            subsídios para veículos elétricos e impostos sobre combustíveis fósseis, são cruciais para acelerar a adoção
            de tecnologias mais limpas e reduzir o impacto dos carros nas mudanças climáticas.
        </p>

        <h1 class="titulo">
            O que pode ser feito?
        </h1>

        <p>
            Para mitigar o impacto dos carros nas mudanças climáticas, podemos adotar diversas estratégias, desde a
            escolha de veículos mais sustentáveis até mudanças em nosso comportamento diário. Optar por veículos
            elétricos ou híbridos, usar mais o transporte público, caminhar ou andar de bicicleta, e compartilhar
            caronas são ações que ajudam a reduzir as emissões de gases de efeito estufa. Além disso, conduzir de forma
            eficiente e manter o veículo em boas condições também contribui para a redução do consumo de combustível.
            Finalmente, apoiar políticas públicas que incentivem a transição para transportes mais limpos é essencial
            para criar um impacto duradouro.
        </p>

        <h1 class="titulo">
            Incentivar o Uso de Veículos Elétricos e Híbridos
        </h1>

        <p>
            A transição para veículos elétricos e híbridos é uma das formas mais eficazes de reduzir as emissões de CO2
            associadas ao transporte. Incentivar a compra desses veículos através de subsídios, incentivos fiscais e a
            expansão da infraestrutura de carregamento pode acelerar a adoção dessa tecnologia. Além disso, o
            desenvolvimento de políticas que facilitem a conversão de frotas comerciais para opções elétricas pode gerar
            um impacto significativo nas emissões globais de carbono. Para maximizar os benefícios ambientais, é crucial
            que esses veículos sejam alimentados por fontes de energia renovável.
        </p>

        <h1 class="titulo">
            Promover o Transporte Público e Alternativo
        </h1>

        <p>
            Fortalecer o transporte público e promover meios alternativos, como o uso de bicicletas e a caminhada, são
            medidas essenciais para reduzir a dependência de carros particulares. Investir em um transporte público
            eficiente, acessível e de qualidade incentiva as pessoas a deixar seus carros em casa, diminuindo as
            emissões de gases de efeito estufa. Criar e expandir redes de ciclovias e calçadas seguras também é
            fundamental para estimular o uso de bicicletas e a mobilidade a pé. Essas mudanças não só beneficiam o meio
            ambiente, mas também melhoram a qualidade de vida nas cidades, tornando-as mais sustentáveis e habitáveis.
        </p>
    </div>

</section>