<section id="container">

    <div class="artigos">
        <h1 class="titulo">
            O que é Mudança Climática?
        </h1>

        <p>
            Mudança climática refere-se a mudanças de longo prazo nas temperaturas e nos padrões climáticos. Essas
            mudanças
            podem ser naturais, devido a alterações na atividade solar ou grandes erupções vulcânicas. Porém, desde os
            anos
            1800, as atividades humanas têm sido o principal motor das mudanças climáticas, principalmente devido à
            queima
            de
            combustíveis fósseis como carvão, petróleo e gás. Queimar combustíveis fósseis gera emissões de gases de
            efeito
            estufa que agem como um cobertor ao redor da Terra, retendo o calor do sol e aumentando as temperaturas. Os
            principais gases de efeito estufa que estão causando as mudanças climáticas incluem o dióxido de carbono e o
            metano.
            Esses gases são liberados, por exemplo, ao usar gasolina para dirigir um carro ou carvão para aquecer um
            prédio.
            O
            desmatamento e a destruição de florestas também podem liberar dióxido de carbono. A agricultura e as
            operações
            de
            petróleo e gás são grandes fontes de emissões de metano. Energia, indústria, transporte, edifícios,
            agricultura
            e
            uso da terra estão entre os principais setores que causam emissões de gases de efeito estufa.
        </p>
    </div>
    <div class="artigos">
        <mat-card class="example-card" appearance="outlined">
            <mat-card-header>
                <mat-card-title>Qual o impacto de carros?</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../assets/IMG/car.jpg" alt="Carro">
            <mat-card-content>
                <p>
                    Os carros desempenham um papel significativo nas mudanças climáticas devido às emissões de gases de
                    efeito estufa, principalmente o dióxido de carbono (CO2), liberados durante a queima de combustíveis
                    fósseis, como gasolina e diesel. Esses gases contribuem para o aquecimento global ao acumular calor
                    na atmosfera, resultando em um aumento da temperatura média do planeta.
                </p>
            </mat-card-content>
        </mat-card>
    </div>

</section>