/* You can add global styles to this file, and also import other style files */
body {
    background: #5295FA;
}

@font-face {
    font-family: 'League Spartan';
    src: url('webfonts/leaguespartan-bold.eot');
    src: url('webfonts/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
        url('webfonts/leaguespartan-bold.woff2') format('woff2'),
        url('webfonts/leaguespartan-bold.woff') format('woff'),
        url('webfonts/leaguespartan-bold.ttf') format('truetype'),
        url('webfonts/leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;

}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
