.titulo {
    color: #FFFFFF;
    padding: 1%;
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 350;
    font-size: 2.5dvw;
    line-height: 3dvw;
}

.ursopai {
    visibility: hidden;
}

#Saiba {
    visibility: hidden;
}

#textos {
    flex-direction: column;
}

.mar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

body {
    margin: 0;
    overflow: hidden;
}

.slidecontainer {
    text-align: center;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 30%;
    height: 10px;
    background: #9e9e9e;
    outline: none;
    transition: opacity .15s ease-in-out;
    border-radius: 5px;
}

.slider:hover {
    opacity: 0.8;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5em;
    height: 5em;
    background: #f8d648;
    border-radius: 50%;
    cursor: pointer;
}